<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mars Curiosity Browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C62340FA1CEF9E5B004EFC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C623410E1CEF9E5C004EFC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C62341191CEF9E5C004EFC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
